:root {
    --color-primary: #23a9a7;
}
@font-face {
    font-family: standard;
    src: url('../fonts/Articulat.CF.V2/ArticulatCF-Medium.ttf')
}
.carousel-image{
    height: 85vh;
    margin:auto;
    width:65vw;
}
.mynav {
    background-color: white;
    box-shadow: 0px 10px 30px rgba(216, 216, 216, 0.45)
}

body {
    background-color: #FFF;
    font-family: standard;
    line-height: 2rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
}

.carousel-control-prev {
    padding-right: 8vw;
}

.carousel-control-next {
    padding-left: 8vw;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 30px;
    color: var(--color-primary);
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 30px;
    color: var(--color-primary);
}

.active a {
    border-bottom: 4px solid var(--color-primary);
}

.nav-link:hover {
    border-bottom: 4px solid var(--color-primary);
    transition: all 0.2s ease-in;
}

.section-header {
    color: var(--color-primary);
    font-weight: bolder;
}

#mission {
    line-height: 4rem;
    font-size: 2.5rem;
}

.mission-text {
    color: black;
    font-size: 2rem;
}

.mission-text::before {
    content: '“';
    font-size: 2rem;
    color: black;
}

.mission-text::after {
    content: '”';
    font-size: 2rem;
    color: black;
}

.navbar-brand .brand-container {
    max-height: 100%;
    width: 30%;
}

.brand-container img {
    max-height: 150%;
    max-width: 100%;
}

.navbar-brand {
    height: 100%;
    width: 30%;
}
.img-container {
    position: relative;
    width: 200px;
    height: 300px;
}
.img-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.img-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
    cursor: pointer;
}
.section-text {
    font-size: 1.5rem;
    font-weight: 300;
    list-style-type: disc;
}
@media(max-width:768px){
    .carousel-image{
        height:50vh;
        margin:auto;
    }
    .table th{
        padding:5px;
    }
    .table td{
        padding:5px;
    }
}