.mynav{
    background-color: #031926;
    box-shadow:0px 10px 30px rgba(216, 216, 216, 0.45)
}
body{
    background-color: #A69E9C;
    font-family: 'Noto Sans JP', sans-serif;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: red;
}
.active a{
    border-bottom: 4px solid red;
}
.nav-link:hover{
    border-bottom: 4px solid red;   
    transition: all 0.2s ease-in;
}
.mission-header{
    color:#fd0b02;
    font-weight:bolder;
}
.mission-text{
    color:white;
    font-size:2rem;
}
.mission-text::before{
    content: '“';
    font-size:2rem;
    color:white;
}
.mission-text::after{
    content: '”';
    font-size:2rem;
    color:white;
}