:root {
    --color-primary: #23a9a7;
}

@font-face {
    font-family: standard;
    src: url('../fonts/Articulat.CF.V2/ArticulatCF-Medium.ttf')
}

.mynav {
    background-color: white;
    box-shadow: 0px 10px 30px rgba(216, 216, 216, 0.45)
}

body {
    background-color: #FFF;
    font-family: standard;
    line-height: 2rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 30px;
    color: var(--color-primary);
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 30px;
    color: var(--color-primary);
}

.active a {
    border-bottom: 4px solid var(--color-primary);
}

.nav-link:hover {
    border-bottom: 4px solid var(--color-primary);
    transition: all 0.2s ease-in;
}

.section-header {
    color: var(--color-primary);
    font-weight: bolder;
}

.mission-text {
    color: black;
    font-size: 2rem;
}

.mission-text::before {
    content: '“';
    font-size: 2rem;
    color: black;
}

.mission-text::after {
    content: '”';
    font-size: 2rem;
    color: black;
}

.navbar-brand .brand-container {
    max-height: 100%;
    width: 30%;
}

.brand-container img {
    max-height: 150%;
    max-width: 100%;
}

.navbar-brand {
    height: 100%;
    width: 30%;
}

.section-text {
    font-size: 1.5rem;
    font-weight: 300;
    list-style-type: disc;
}